<h1>Add Event</h1>
<form method="post">
    
    <input name ="name" type="text" />
    <label for="name">Name of Event</label><br />
    <input name="descript" type="text"/>
    <label for="descript">Describe the event</label><br />
    <input type="submit" value="Add Event"/>
</form>