<h1>Coding Events</h1>
<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
@if (ViewBag.events.Count == 0) {
    <p>There are no events yet.</p>
}
else{
<ol>
    @foreach (string thing in ViewBag.events) {
        <li>@thing</li>
    }
</ol>
}